<div *ngIf="!loginToken" class="login-container w-100" fxFlexFill fxLayoutAlign="center center">
  <mat-card fxFlex.lt-sm="100" fxFlex="450px" fxLayout="column">
    <div [ngClass]="{'mt-1': userService.isIE}" fxFlex="100" fxLayoutAlign="start center">
      <img style="width: 140px;" src="assets/icons/logo.jpg" alt="logo">
    </div>

    <form class="mt-1" fxLayout="column" autocomplete="on" (ngSubmit)="loginForm.valid && submit()" [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput id="loginInput" [required]="true" type="text" placeholder="Email or Username" formControlName="login">

        <mat-error *ngIf="loginForm.get('login').hasError('required')">
          Login is required
        </mat-error>

        <mat-error *ngIf="loginForm.get('login').hasError('minlength')">
          Login length must be at least 4 symbols
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput id="passwordInput" [required]="true" type="password" placeholder="Password" formControlName="password">

        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Password is required
        </mat-error>

        <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
          Password length must be at least 5 symbols
        </mat-error>
      </mat-form-field>

      <mat-card>

      </mat-card>

      <div fxLayoutAlign="space-between center">
        <p class="text-center support box-title">
          Can’t login? <a class="box-title">Reset your password.</a>
        </p>
        <button mat-raised-button color="accent" [disabled]="loginForm.invalid && loginForm.touched" type="submit">
          Login
        </button>
      </div>
    </form>
    <p *ngIf="userService.isIE" class="ie-warning"> Your web browser is not supported. Please use another browser.
    </p>
  </mat-card>
</div>
<div *ngIf="loginToken" class="loader"></div>
